@model IEnumerable<Employee>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Employee Details</h1>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>ID</td>
            <td>Email</td>
            <td>Dept</td>
        </tr>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.Name</td>
                <td>@emp.Id</td>
                <td>@emp.Email</td>
                <td>@emp.Dept</td>
            </tr>
        }
    </table>
</body>
</html>