@model Employee
@{
    ViewData["Title"] = "Register";
}
<h1>Welcome User</h1>
<br />
<br />
<h1>Register</h1>
<form class="align-content-center" asp-controller="Employee" asp-action="Register" method="post">
    <div>
        <label asp-for="Id">ID</label>
        <input asp-for="Id" required /><br />
    </div>
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" required /><br />
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email" /><br />
    </div>
    <div>
        <label asp-for="Dept">Dept</label>
        <input asp-for="Dept" /><br />
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>
