
@{
    ViewData["Title"] = "CreateDashBoard";
}

<h1>CreateDashBoard</h1>
<h4 class="text-right text-primary"><a asp-action="Logout" asp-controller="CookieSession">Logout</a></h4>
<h4 class="text-right text-danger">Welcome @ViewBag.Uname</h4>
<h4 class="text-right text-danger">ur last login @ViewBag.lldt</h4>


