@model Project2.Models.Seller

@{
    ViewData["Title"] = "SellerLogin";
}

<h1>SellerLogin</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SellerLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sname" class="control-label"></label>
                <input asp-for="Sname" class="form-control" />
                <span asp-validation-for="Sname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spwd" class="control-label"></label>
                <input asp-for="Spwd" class="form-control" />
                <span asp-validation-for="Spwd" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
        <div>
            @ViewBag.message
        </div>
    </div>
</div>

<div>
    <a asp-action="SellerRegistration">Create New Account</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
